.landingPage {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(auto, 1fr));
}

.landingPageContainerOne {
  font-family: "Poppins", sans-serif;
  display: grid;
  background-color: #eeeeee;
  grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(auto, 1fr));
}

/* top images and cta section START*/

.topImageSection {
  padding: 2%;
  margin: 2%;
  grid-column: 1 / span 3;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(auto, 1fr));
  grid-gap: 4%;
}

.imageOneDiv {
  grid-column: 2;
  grid-row: 1;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.imageOne {
  width: 100%;
  margin-bottom: 0;
  align-self: flex-end;
}

.imageTwoDiv {
  grid-column: 2;
  grid-row: 2;
}

.imageTwo {
  width: 100%;
}

.imageThreeDiv {
  grid-column: 1;
  grid-row: 1;
}

.imageDiv {
  margin-bottom: 3%;
}

.imageThree {
  width: 65%;
}

.imageFourDiv {
  grid-column: 1;
  grid-row: 2;
}

.imageFour {
  width: 100%;
}

.caption {
  color: #44484e;
  font-weight: 600;
  font-size: medium;
}

/* top image section right side */
.rightTopImageSectionDiv {
  margin-right: 5%;
  grid-column: 3;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.topHeading {
  color: #00adb5;
  font-weight: 800;
}

.signUpButton {
  background-color: #00adb5;
  color: white;
  font-weight: 600;
  border: none;
  padding: 2%;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.signUpButton:hover {
  background-color: #007d86;
}

.paraInfo {
  font-weight: 500;
}

.rightTopImageSectionDiv div {
  margin-bottom: 5%;
}

span.brandName {
  /* color: #00adb5; */
  color: #b50000;
  font-weight: 700;
  font-size: 150%;
  text-decoration: underline;
}

/* top images and cta section END*/

/* section two ub image START*/
.landingPageContainerTwo {
  margin-top: 2%;
  grid-column: 1 / span -1;
  grid-row: 4;
  background-color: #eeeeee;
}

.sectionTwo {
  margin-top: 2%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(auto, 1fr));
}

.captionDiv {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.shortDesc {
  font-weight: 600;
}

.imageDiv {
  grid-column: 2;
}

.captionSlogan {
  color: #00adb5;
  font-weight: 700;
}

.ubImage {
  border-radius: 10px;
}
/* section two ub image END*/

/* about us START */
.aboutUsDiv {
  grid-row: 5;
  /* margin-top: 2%; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(auto, 1fr));
  /* background-color: #eeeeee; */
  background-color: white;
  padding: 2%;
}

.aboutUsTitle {
  margin: auto;
  color: black;
  margin-bottom: 2%;
}

.aboutUsTitle h3 {
  font-weight: 500;
}

.aboutDesc {
  margin: auto;
  width: 50%;
}

.aboutDesc p {
  font-weight: 600;
  color: #393e46;
  font-size: large;
}
/* about us END */

/* footer START */
.footerContainer {
  grid-row: 6;
  background-color: #ce3c3c;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.footerContent {
  color: white;
  margin: auto;
}

.navLinks.active {
  background-color: #00adb5;
  color: white;
  border-radius: 4px;
}

/* some media responsive css stylings START */
@media (max-width: 963px) {
  .captionDiv {
    grid-row: 5;
    grid-column: 2;
  }
}
